@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100px;
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    width: 400px;
    height: 600px;
    background: rgba(255, 255, 255, 0.123);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.562);
}
.container img{
    width: 250px;
    height: 250px;
    border-radius: 50px;
}
i{
    cursor: pointer;
    margin: 30px;
}
.songName{
    font-size: 1.2rem;
    margin: 15px;font-family: 'Yusei Magic', sans-serif;
}
input[type="range"]{
    width: 250px;
    margin: 20px;
    /* -webkit-appearance: none; */
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4px;
  width: 100%;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: -7px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls-container{
    width: 300px;
    background: rgba(255, 255, 255, 0.137);
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 50px;
}
.controls{
    width: 350px;
}